*{
	box-sizing: border-box; 
	margin: 0;
	padding: 0;
}


html {
	font-family: "pill-gothic-600mg","Helvetica","Sans-Serif";
	-webkit-font-smoothing: antialiased;
	width: 100%;
	height: 100%;
	/*background: url("../img/Glacier2.jpg") no-repeat left center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	border: none;*/
}

#h1-top {
	z-index: 2;
	position: fixed;
	background-color: black;
	padding: 1rem;
	letter-spacing: .8rem;
	color: #fff;
	opacity: 1;
}

body {
	color: #fff;
	width: 100%;
	height: 100%;

}

.overlay {
	background-color: rgba(0,0,0,.6);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 0;
}

h1 {
	font-size: 1rem;
	padding-top: 1rem;
	text-transform: uppercase;
	letter-spacing: .5rem;
}

h2 {
	font-weight: 100;
	font-size: 10pt;
	text-align: center;
}

h4 {
	text-align: center;
	font-size: .7rem;
	padding-top: .8rem;
	text-transform: uppercase;
	letter-spacing: .4rem;
}

iframe {
	z-index: -2;
	margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  border: none;
  /*background-image: url(/img/splash.png);*/
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.time {
	z-index: 10;
	position: fixed;
	float: left;
	height: 100%;
	width: 100%;

	padding: 15% 10%;

	/*border: solid 3px;*/
}

.clock {
	z-index: 20;
	max-width: 100rem;
	padding: 100px auto;
	margin: 0 auto;
	height: 50%;
}

/* Larger than tablet */
/*@media (min-width: 350px) {
	.clock {
		max-width: 12rem;
	}
}*/

.feed {
	text-align: center;
	position: relative;
	height: 200%;
	float: right;
	width: 25%;
	background-color: rgba(240,100,67,.3);
}

/*.photos {
	height: 0;
	width: 75%;
}*/

.grey {
	opacity: .4;
}


.time-hour, .time-minute, .time-second, .time-days {
	display: block;
	content:' ';
	float: left;
  top: 33%;
  bottom: 33%;
  margin: 8%;
  width: 7rem;
  height: 7rem;
  padding: 2% 0px;

	/*background-color: blue;*/
	/*border-right: solid 2px*/
}

/*.time-days {
	left: 0;
}

.time-hour {
	left: 25%;
}

.time-minute {
	left: 50%;
}

.time-second {
	left: 75%;
}*/

#days,#hours,#minutes,#seconds {
	font-size: 12em;
	/*padding-top: 7%;*/
	font-weight: 300;
	letter-spacing: .1em;
	text-align: center;
}

#minutes {
	/*background-color: blue;5*/
}

a {
	font-weight: 100;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	font-size: .7em;
	font-weight: bold;
	letter-spacing: .3em;
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 20px;
	cursor: pointer;
	background-color: black;
}

a:hover {
	color: rgb(242,108,90);
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries 
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it 
there. 
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}